.wrapper
  .banner
    .banner__pyramid
      img(src='img/pyramid.png' alt='pyramid')
    .banner__pers
      img(src='img/sam-desc.png' alt='sam')
    .banner__info
      .banner__title Orașul #[br] distracției
      .banner__code
        .banner__code-copy FAVBET CITY
        .banner__code-text #[span 100 Rotiri Gratuite] COD PROMO
    .banner__footer
      ul.banner__footer-list
        li.banner__footer-item
          .percent 100%
          .info BONUS PÂNĂ #[br] LA 1000 LEI
        li.banner__footer-item
          .percent +100 #[span LEI]
          .info PARIU #[br] FĂRĂ RISC
        li.banner__footer-item
          .percent +100
          .info ROTIRI #[br] GRATUITE


