.wrapper
  .banner
    .banner__pyramid
      img(src='img/pyramid.png' alt='pyramid')
    .banner__pers
      img(src='img/sam-desc.png' alt='sam')
    .banner__info
      .banner__title Orașul #[span distracției]
      .banner__bonus BONUS #[span 100%]
      .banner__bonus.banner__bonus-2 PÂNĂ LA #[span 1000 LEI]
      .banner__row
        .banner__item PARIU FĂRĂ #[br] RISC 100 LEI
        .banner__item
          img(src='img/plus.svg' alt='plus')
        .banner__item 100 ROTIRI #[br] GRATUITE
    .banner__people




